:root {
  --main-color: #52A894;
  --hard-color: #3F3F3F;
  --soft-color: #7A7A7A;
  --light-color: #FFFFFF;

  --header-height: 68px;
  --footer-height: 20px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  --font-montserrat: 'Montserrat';
  --font-roboto: 'Roboto';

  --desktop-max-width: 1200px;
  --mobile-max-width: 1000px;

  --br: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: var(--main-height);
  font-family: var(--font-montserrat);
  background-color: var(--min-color);
}

button {
  border: none;
  border-radius: var(--br);
  font-family: var(--font-montserrat);
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--hard-color);
  font-family: var(--font-roboto);
}